<% if @feed_items.any? %>
  <ol class="microposts">
    <% @feed_items.each do |entry| %>
      <li id="entry-<%= entry.id %>">
        <%= image_tag entry.picture.url, class: "center-block", width: "60%" if entry.picture? %>
        <h1><%= link_to entry.subject, entry%></h1>
        <span class="content">
          <%= entry.content[0..80] %>...
        </span>
        <span class="timestamp">
          <%= t("posted") %> <%= time_ago_in_words entry.created_at %> <%= t("ago") + " " + t("by") %> 
          <%= link_to entry.user.name, entry.user %>
        </span>
        <% if entry.user.current_user? current_user %>
          <span><%= link_to t("delete"), entry, method: :delete, data: {confirm: t("you_sure")},
            class: "pull-right btn btn-danger" %></span>
        <% end %>
        <br><br>
      </li>
    <% end %>
  </ol>
  <%= paginate @feed_items, :theme => "twitter-bootstrap-3",
    :pagination_class => "pagination-sm" %>
<% end %>
